<div class="wrapper fadeInDown">
  <div id="formContent">
    <form [formGroup]="loginFrom" (ngSubmit)="onSubmit()">
      <input type="text" id="login" class="fadeIn second" name="userName" formControlName="userName" placeholder="User Name">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" formControlName="password">
      <div *ngIf="!isUserValid" style="color: red">Wrong Credentials</div>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <div id="formFooter">

    </div>

  </div>
</div>
