<div class="page-wrap col-sm-12 col-md-12">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="reg-fom">
  <div class="image-wrap col-sm-12 col-md-2">
  </div>
  <div class="form-wrap col-sm-12 col-md-10">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"> Title </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="title" placeholder="Title">
      </div>

    </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="firstName" placeholder="First name" [ngClass]="{'invalid':submitted && ((f.firstName.errors && f.firstName.errors.required)||f.firstName.errors && f.firstName.errors.maxlength)}">
        </div>

      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="lastName" placeholder="Last name">
        </div>
      </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Gender</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="gender" placeholder="Gender">
      </div>
    </div>
      <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Dob</label>
        <div class="col-sm-10 d-flex">
           <input  class="form-control" type="date" formControlName="dob">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" formControlName="email" placeholder="Email">
        </div>
      </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">User Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="userName" placeholder="user Name">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="password" placeholder="Password">
      </div>
    </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Phone number</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Phone number">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>

  </div>
  </form>
</div>

